<h1>Select Number</h1>

<form action="/selectnumbers/info">
    <label>
        Select Number:
        <input type="search" name="number" placeholder="between 1 and 10" required autofocus>
    </label>
    <button>Enter</button>


</form>