<h1>Magic 8 Ball</h1>

<form action="/magicballs/info">
    <label>
        Type in your question: 
        <input type="text" name="question" placeholder="Ask!" required autofocus>
    </label>

    <button>Enter</button>

</form>