<h1>New Park</h1>

<form action="/parks" method="post">

    <label>
        Name: 
        <input type="text" name="name" required>
    </label>

    <label>
        Location:
        <input type="text" name="location" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        Recommend:
        <input type="checkbox" name="recommend" value=1>
    </label>
    <button>Add Park</button>
</form>