
<h1>Fun Games</h1>
<ul>
    <li>
    <a href="/magicballs">
    Magic 8 Ball
    </a>
    <li>
    <a href="/selectnumbers">
    Select Number
    </a>
    </li>
    </li>
    <li>
    <a href="/games/rock_paper_scissors/:throw">
    Rock Paper Scissors
    </a>
    </li>
</ul>