
* {
    box-sizing:border-box;

}

body{
    background-color: RGBA(62, 143, 205, 0.5);
}

.container{
    text-align: center;
    align-items: center;
    max-width: 960px;
    margin:0 auto;
}

.index{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    /* gap: 8rem; */
    max-width: 960px;
    margin:0 auto;
}

.players{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.index h1{
    color: lightcoral ;
}

.player{
    /* display: flex;
    flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    color: black;
    align-items: center;
    
}


.show{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);

}

.show > h1{
    color:blue ;
    grid-column: 1/3 ;
    grid-row: 1/2;
}

#player_image {
    grid-column: 1/2;
    grid-row: 2/3; 
}

#player_info {
    color:black;
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: stretch;
    text-align: justify;
}

.control{
    grid-column: 1/3;
    grid-row: 3/4;
}

.thumb{
    max-width: 60%;
}

.player_form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.player_form input{
    margin: 10px;
}