<div class="container new">
<h1>New Player</h1>

<form action="<%= players_path %>" method="post">

    <label>
        Name: 
        <input type="text" name="name" required autofocus>
        Brith Country: 
        <input type="text" name="birth_country">
        Height:
        <input type="number" name="height">
        Weight:
        <input type="number" name="weight">
        Image: 
        <input type="url" name="image">
    </label>
    <button>Create Player</button>
</form>

</div>